{{extends file="app/views/layout/layout_admin.html"}}

{{block name="css"}}
<style>

    .input-group {
        width: 98.6%;
    }

    .td1 {
        text-align: right;
        margin-left: -50px;
        display: block;
        height: 43px;
    }

    .label {
        width: 80px;
        height: 35px;
        padding: 10px;
        margin-left: 20px;
    }

    .tab {
        width: 100%;
        margin-left: 20px;
        margin-top: 0px;
        text-align: center;
    }

    .tab th {
        text-align: center;
    }

    .th1 {
        width: 45px;

    }

    .th2 {
        width: 65px;
    }

    .right {
        width: 30px;
        height: 30px;
    }

    .right1 {
        width: 12px;
        height: 12px;
        display: block;
        border: none;
    }
    .right1:hover{
        border: none;
        background: none;
        text-decoration: none;
    }

    .right2 {
        width: 12px;
        height: 12px;
        margin-top: 3px;
    }

    .right:hover {
        border: none;
        background: none;
    }
    #edit3:hover{
        background: none;
        text-decoration: none;
        border: none;
    }
    #edit5:hover{
        background: none;
        text-decoration: none;
        border: none;
    }


</style>
{{/block}}
{{block name="bread"}}
<div id="breadcrumb"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><a
        href="/Admin/Index/index" class="tip-bottom" data-original-title="前往主页" style="color: #333333;"><i
        class="icon-home"></i> 主页&nbsp;&nbsp;&nbsp;
</a>
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span><b>&nbsp;&nbsp;&nbsp;文章列表&nbsp;&nbsp;&nbsp;</b></span>
</div>
<h1>文章列表</h1>
{{/block}}


{{block name="content"}}

<div class="quick-actions_homepage">
    <div>
       <button type="submit" class="label label-success add1" data-toggle="modal" data-target="#exampleModal"
                style="border: none;">增加文章
        </button>
        <button type="submit" class="label label-danger destroy" style="border: none;">删除</button>
    </div>
    <div class="alert alert-danger" role="alert" style="width: 385px;margin-left: 350px;display: none;">

    </div>

    <div class="input-group" style="margin-left: 20px;">
            <span class="input-group-addon"><label class="checkbox-inline">
                <input type="checkbox" id="box1" style="width: 18px;height:18px;margin-top:-10px;display: block;">
            </label></span>

        <div class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status"
             style="background: #EEEEEE;">全选
        </div>
    </div>
    <div class="input-group">
        <form class="form-horizontal from1"  action="" method="post" name="form1">

            <table class="table table-bordered tab">
                <thead>
                <tr>
                    <th class="th1">#</th>
                    <th>标题</th>
                    <th>栏目</th>
                    <th>发布日期</th>
                    <th class="th1">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{foreach $articles as $article}}
                <tr>
                    <th scope="row" class="th1">
                        <input type="hidden" name="id[]" value="{{$article.id}}">
                        <input type="checkbox" name="box2[]" class="items" id="inlineCheckbox2" value="{{$article.id}}"
                               style="width: 18px;height:18px;margin-top:0px;display: block;">
                    </th>
                    <td class="title_name" style="color:{{$article.color}};">{{$article.title}}</td>
                    <td class="web_id">{{$article.cate_name}}</td>
                    <td  style="">{{date("Y-h-d",$article.time)}}</td>
                    <td class="th1">
                        <a href="javascript:void 0;" data-id="{{$article.id}}" class="edit"> <span
                                class="glyphicon glyphicon-pencil right1" id="edit3" aria-hidden="true" data-toggle="modal"
                                data-target="#exampleModal"></span></a>
                        <a href="javascript:void 0;" date-id="{{$article.id}}" class="del"><span
                                class="glyphicon glyphicon-remove " id="edit5" aria-hidden="true"
                                data-toggle="modal"
                                data-target="#gridSystemModal"></span></a>
                    </td>
                </tr>
                {{/foreach}}

                </tbody>
            </table>
        </form>
    </div>
</div>

<div id="gridSystemModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel"
     style="display:none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="gridModalLabel">删除一篇文章</h4>
            </div>
            <form class="del_link" name="del_link" method="post" action="index.php?control=link&action=del">
                <input type="hidden" class="hid2" name="id" value="">
                <input type="text" name="del_text" class="text_link" value="" style="width: 100%;height: 80px;text-align: center;">
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary sub_del">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


{{/block}}
{{block name="js"}}
<script>

    $(function () {
        $("#box1").click(function () {
            $(':checkbox').prop("checked", this.checked);
        })
        $(".destroy").click(function () {
            if ($(':checkbox:checked').length == 0) {
                alert("你还未选中内容！");
                return false;
            }
            $(".from1").attr("action","index.php?control=link&action=destroy");
            $(".from1").submit();
        })
        $(".add1").click(function () {
            location.href="index.php?control=link&action=article_add";

        })
        $(".sub2").click(function () {
            $(".add_edit_form").submit();
        })
        $(".sub_del").click(function () {
            $(".del_link").submit();
        })
        $(".edit").click(function () {
            var id = $(this).attr('data-id');
            location.href="index.php?control=link&action=article_edit&id="+id;

        })
        $(".del").click(function () {
            var title_name = $(this).parent().siblings(".title_name").text();
            $(".text_link").val("您确定删除  "+title_name+"  吗？");
            var id = $(this).attr('date-id');
            $(".hid2").val(id);
        })
    })
</script>
{{/block}}
